<p style="color: green"><%= notice %></p>

  <% if current_user %>
  <%= render "header" %>
<div id="groups">
  <% @groups.each do |group| %>
      <%= link_to group_expenses_path(group_id: group.id)  do %>
    <%= render group %>
      <%end%>
  <% end %>
</div>
<div class="new-group-btn-container">
<%= link_to "New category", new_group_path, class:"new-group-btn" %>
</div>
<% else %>
<h1>WhereMoney</h1>
    <%= button_to 'LOG IN',
        new_user_session_path,
        method: :get %>
<%= button_to 'SIGN UP',
        new_user_registration_path,
        method: :get %>
  <% end %>
